#root {
  max-width: 1280px;
  margin: 10 auto;
  padding: 2rem;
  text-align: center;
}


button {
  padding: 5;
  background-color:goldenrod;
  font-size: 0.8em;
  padding: 0.5em 1em;
  margin-left: 0.5em;
  margin-top: 1em;
}

input {
  width: 400px;
  margin-left: 0.5em;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  position: relative;
  display: inline-flex;
  gap: 8px;
  
}

.info-icon {
  background-color: #eee;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  position: relative;
}

.info-icon .info-text {
  visibility: hidden;
  width: 300px;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 4px;
  padding: 6px 8px;
  position: absolute;
  z-index: 10;
  top: 125%; 
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 12px;
  line-height: 1.4; 
  white-space: normal; 
}

.info-icon:hover .info-text {
  visibility: visible;
  opacity: 1;
}

.button {
  display: flex;
  justify-content: center;
}

.notification {
  position: fixed;
  top: 10px;
  left: 57%;
  transform: translateX(-80%);
  padding: 1px 24px;
  border-radius: 8px;
  background-color: #f70606;
  color: white;
  font-weight: 500;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
