name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        working-directory: ./UI
        run: npm install

  backend:
    runs-on: ubuntu-latest
    needs: frontend
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        working-directory: ./Compiler
        run: poetry install --no-root

      - name: Run tests
        working-directory: ./Compiler
        run: poetry run coverage run --branch -m pytest
      - name: Coverage report
        working-directory: ./Compiler
        run: poetry run coverage xml
      - name: Coverage report to Codecov
        uses: codecov/codecov-action@v2

      